In [97]:
import pandas as pd
import numpy as np
from collections import OrderedDict

file_to_load = "purchase_data.csv"
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [98]:
purchase_data_df.shape

(780, 7)

In [99]:
# Calculate the Number of Unique Players
player_demographics = purchase_data_df.loc[:, ["Gender", "SN", "Age"]]
player_demographics = player_demographics.drop_duplicates()
num_players = player_demographics.count()[0]

# Display the total number of players
pd.DataFrame({"Total Players": [num_players]})

   Total Players
0            576

In [100]:
unique_items = len(purchase_data_df["Item ID"].unique())
unique_items

183

In [101]:
average_price = purchase_data_df["Price"].mean()
average_price

3.050987179487176

In [102]:
total_purchases = purchase_data_df["Price"].count()
total_purchases

780

In [103]:
revenue = purchase_data_df["Price"].sum()
revenue

2379.77

In [104]:
summary_table = pd.DataFrame({"Number of Unique Items": unique_items, "Average Price": [average_price], "Number of Purchases": [total_purchases], "Total Revenue": [revenue]})
summary_table

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

In [105]:
gender_total = player_demographics["Gender"].value_counts()
gender_total

gender_percentage = gender_total/num_players*100
gender_percentage

Male                     84.027778
Female                   14.062500
Other / Non-Disclosed     1.909722
Name: Gender, dtype: float64

In [106]:
gender_demographics = pd.DataFrame({"Total Count": gender_total,"Percentage of Players": gender_percentage})
gender_demographics

                       Total Count  Percentage of Players
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722

In [107]:
purchase_count = purchase_data_df["Gender"].value_counts()
purchase_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [108]:
average_purchase_price = purchase_data_df.groupby('Gender')['Price'].mean()
average_purchase_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [109]:
total_purchase_value = purchase_data_df.groupby('Gender')['Price'].sum()
total_purchase_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [110]:
avg_purchase = total_purchase_value/gender_demographics["Total Count"]
avg_purchase

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [111]:
gender_data = pd.DataFrame({"Purchase Count": purchase_count, 
                            "Average Purchase Price": average_purchase_price, 
                            "Total Purchase Value": total_purchase_value, 
                            "Average Total Purchase Per Person": avg_purchase})
gender_data

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [112]:
bins = [0, 9.90, 14.90, 19.90, 24.9, 29.9, 34.90, 39.90, 9999999]

group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">40"]



player_demographics["Age Group"] = pd.cut(player_demographics["Age"], bins, labels=group_labels)
player_demographics.head()

  Gender             SN  Age Age Group
0   Male        Lisim78   20     20-24
1   Male    Lisovynya38   40       >40
2   Male     Ithergue48   24     20-24
3   Male  Chamassasya86   24     20-24
4   Male      Iskosia90   23     20-24

In [113]:
age_totals = player_demographics["Age Group"].value_counts()
age_totals

20-24    258
15-19    107
25-29     77
30-34     52
35-39     31
10-14     22
<10       17
>40       12
Name: Age Group, dtype: int64

In [114]:
age_percents = age_totals / num_players * 100
age_percents

20-24    44.791667
15-19    18.576389
25-29    13.368056
30-34     9.027778
35-39     5.381944
10-14     3.819444
<10       2.951389
>40       2.083333
Name: Age Group, dtype: float64

In [115]:
age_demographics = pd.DataFrame({"Total Count": age_totals, "Percent of Players": age_percents})
age_demographics

       Total Count  Percent of Players
20-24          258           44.791667
15-19          107           18.576389
25-29           77           13.368056
30-34           52            9.027778
35-39           31            5.381944
10-14           22            3.819444
<10             17            2.951389
>40             12            2.083333

In [116]:


bins = [0, 9.90, 14.90, 19.90, 24.9, 29.9, 34.90, 39.90, 9999999]

group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">40"]

purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins, labels=group_labels)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,>40
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [117]:
Age_Group = purchase_data_df.groupby("Age Group")
Age_Group

In [118]:
purchase_count = Age_Group["Price"].count() 
purchase_count

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
>40       13
Name: Price, dtype: int64

In [119]:
avgerage_price = Age_Group["Price"].mean()
average_price

3.050987179487176

In [120]:
total_value = Age_Group["Price"].sum()
total_value

Age Group
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
>40        38.24
Name: Price, dtype: float64

In [121]:
price_std = Age_Group["Price"].std()
price_std

Age Group
<10      1.072811
10-14    1.095747
15-19    1.179904
20-24    1.181192
25-29    1.158884
30-34    1.158957
35-39    1.029181
>40      1.301921
Name: Price, dtype: float64

In [122]:
avg_total_ppp = avgerage_price/price_std *100
avg_total_ppp

Age Group
<10      312.587945
10-14    269.809487
15-19    257.305289
20-24    258.401509
25-29    250.326288
30-34    252.943436
35-39    349.958428
>40      225.938379
Name: Price, dtype: float64

In [123]:
purchase_analysis = pd.DataFrame({"Purcahse Count": purchase_count, "Average Purchase Price": average_price, "Total Purchase Value": total_value, "Average Total Purchase Per Person": avg_total_ppp})
purchase_analysis

,Purcahse Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Age Group,,,,
<10,23,3.050987,77.13,312.587945
10-14,28,3.050987,82.78,269.809487
15-19,136,3.050987,412.89,257.305289
20-24,365,3.050987,1114.06,258.401509
25-29,101,3.050987,293.00,250.326288
30-34,73,3.050987,214.00,252.943436
35-39,41,3.050987,147.67,349.958428
>40,13,3.050987,38.24,225.938379

In [124]:
sn_group = purchase_data_df.groupby("SN")
sn_group

In [144]:
total_purchase_value = purchase_data_df.groupby(["SN"]).sum()["Price"]

In [145]:
average_purchase_price = purchase_data_df.groupby(["SN"]).mean()["Price"]

In [146]:
purchase_count = purchase_data_df.groupby(["SN"]).count()["Price"]

In [171]:

sn_group = pd.DataFrame(OrderedDict({"Purchase Count":purchase_count.astype(int),
                                        "Average Purchase Price":average_purchase_price.astype(float),
                                        "Total Purchase Value":total_purchase_value.astype(float)}))

sn_group

                 Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76                  1                2.280000                  2.28
Adastirin33                   1                4.480000                  4.48
Aeda94                        1                4.910000                  4.91
Aela59                        1                4.320000                  4.32
Aelaria33                     1                1.790000                  1.79
Aelastirin39                  2                3.645000                  7.29
Aelidru27                     1                1.090000                  1.09
Aelin32                       3                2.993333                  8.98
Aelly27                       2                3.395000                  6.79
Aellynun67                    1                3.740000                  3.74
Aellyria80                    1                3.080000                  3.08
Aelollo59                     2                2.815000                  5.63
Aenarap34                     1                2.960000                  2.96
Aeral43                       1                4.400000                  4.40
Aeral68                       1                4.000000                  4.00
Aeral97                       1                4.800000                  4.80
Aeralria27                    1                4.090000                  4.09
Aeralstical35                 1                2.960000                  2.96
Aeri84                        1                1.610000                  1.61
Aerillorin70                  1                3.330000                  3.33
Aerithllora36                 2                4.320000                  8.64
Aerithnucal56                 1                4.400000                  4.40
Aerithnuphos61                1                4.910000                  4.91
Aerithriaphos45               1                1.560000                  1.56
Aerithriaphos46               1                2.180000                  2.18
Aesri53                       1                1.760000                  1.76
Aesty53                       2                1.955000                  3.91
Aestysu37                     2                2.690000                  5.38
Aesur96                       1                2.210000                  2.21
Aesurstilis64                 1                1.030000                  1.03
...                         ...                     ...                   ...
Undosia27                     1                3.770000                  3.77
Undosian34                    2                4.150000                  8.30
Undotesta33                   1                4.740000                  4.74
Wailin72                      1                2.730000                  2.73
Yadacal26                     2                3.270000                  6.54
Yadaisuir65                   1                4.090000                  4.09
Yadam35                       1                2.480000                  2.48
Yadanu52                      1                2.380000                  2.38
Yadaphos40                    2                2.675000                  5.35
Yalae81                       2                3.345000                  6.69
Yalaeria91                    1                1.060000                  1.06
Yaliru88                      1                3.030000                  3.03
Yalo85                        1                3.650000                  3.65
Yalostiphos68                 1                4.400000                  4.40
Yana46                        1                3.550000                  3.55
Yarithllodeu72                1                3.750000                  3.75
Yarithrgue83                  1                3.450000                  3.45
Yarithrin84                   1                4.140000                  4.14
Yarithsurgue62                1                4.940000                  4.94
Yarolwen77                    1                4.430000                  4.43
Yasrisu92                     1                3.440000                  3.44
Yastyriaphos75                1                4.750000                  4.75
Yasur35                       1                4.480000                  4.48
Yasur85                       1                1.100000                  1.10
Yathecal72                    1                3.460000                  3.46
Yathecal82                    3                2.073333                  6.22
Yathedeu43                    2                3.010000                  6.02
Yoishirrala98                 1                4.580000                  4.58
Zhisrisu83                    2                3.945000                  7.89
Zontibe81                     3                2.676667                  8.03

[576 rows x 3 columns]

In [172]:

top_spenders = sn_group.sort_values(["Purchase Count"], ascending=False)
top_spenders.head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Iral74                    4                3.405000                 13.62
Idastidru52               4                3.862500                 15.45
Asur53                    3                2.480000                  7.44
Inguron55                 3                3.703333                 11.11

In [185]:
pop_items = purchase_data_df.groupby(["Item ID","Item Name"])
pop_items

In [186]:
purch_count = pop_items["Item ID"].count()
purch_count

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         3
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
5        Putrid Fan                                       4
6        Rusty Skull                                      2
7        Thorn, Satchel of Dark Souls                     7
8        Purgatory, Gem of Regret                         3
9        Thorn, Conqueror of the Corrupted                4
10       Sleepwalker                                      4
11       Brimstone                                        5
12       Dawne                                            6
13       Serenity                                         4
14       Possessed Core                                   2
15       Soul Infused Crystal                             5
16       Restored Bauble                                  4
17       Lazarus, Terror of the Earth                     4
18       Torchlight, Bond of Storms                       2
19       Pursuit, Cudgel of Necromancy                    8
20       Netherbane                                       5
21       Souleater                                        5
22       Amnesia                                          6
23       Crucifer                                         1
24       Warped Fetish                                    5
25       Hero Cane                                        6
26       Unholy Wand                                      2
27       Riddle, Tribute of Ended Dreams                  1
28       Flux, Destroyer of Due Diligence                 2
29       Chaos, Ender of the End                          5
                                                         ..
154      Feral Katana                                     4
155      War-Forged Gold Deflector                        5
156      Soul-Forged Steel Shortsword                     5
157      Spada, Etcher of Hatred                          4
158      Darkheart, Butcher of the Champion               2
159      Oathbreaker, Spellblade of Trials                7
160      Azurewrath                                       6
161      Devine                                           5
162      Abyssal Shard                                    5
163      Thunderfury Scimitar                             5
164      Exiled Doomblade                                 7
165      Bone Crushing Silver Skewer                      4
166      Thirsty Iron Reaver                              3
167      Malice, Legacy of the Queen                      4
168      Sun Strike, Jaws of Twisted Visions              2
169      Interrogator, Blood Blade of the Queen           4
170      Shadowsteel                                      4
171      Scalpel                                          3
172      Blade of the Grave                               4
173      Stormfury Longsword                              2
174      Primitive Blade                                  4
175      Woeful Adamantite Claymore                       3
176      Relentless Iron Skewer                           2
177      Winterthorn, Defender of Shifting Worlds         2
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
180      Stormcaller                                      1
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Item ID, Length: 183, dtype: int64

In [187]:
item_price = pop_items["Price"].mean()
item_price

Item ID  Item Name
0        Splinter                                        1.28
1        Crucifer                                        3.26
2        Verdict                                         2.48
3        Phantomlight                                    2.49
4        Bloodlord's Fetish                              1.70
5        Putrid Fan                                      4.08
6        Rusty Skull                                     3.70
7        Thorn, Satchel of Dark Souls                    1.33
8        Purgatory, Gem of Regret                        3.93
9        Thorn, Conqueror of the Corrupted               2.73
10       Sleepwalker                                     1.79
11       Brimstone                                       3.65
12       Dawne                                           1.02
13       Serenity                                        1.41
14       Possessed Core                                  2.61
15       Soul Infused Crystal                            2.96
16       Restored Bauble                                 3.55
17       Lazarus, Terror of the Earth                    1.70
18       Torchlight, Bond of Storms                      4.65
19       Pursuit, Cudgel of Necromancy                   1.02
20       Netherbane                                      3.27
21       Souleater                                       1.10
22       Amnesia                                         2.18
23       Crucifer                                        1.99
24       Warped Fetish                                   3.81
25       Hero Cane                                       4.35
26       Unholy Wand                                     1.12
27       Riddle, Tribute of Ended Dreams                 3.30
28       Flux, Destroyer of Due Diligence                1.06
29       Chaos, Ender of the End                         1.98
                                                         ...
154      Feral Katana                                    4.40
155      War-Forged Gold Deflector                       1.01
156      Soul-Forged Steel Shortsword                    1.77
157      Spada, Etcher of Hatred                         4.80
158      Darkheart, Butcher of the Champion              2.45
159      Oathbreaker, Spellblade of Trials               3.08
160      Azurewrath                                      4.40
161      Devine                                          1.76
162      Abyssal Shard                                   2.67
163      Thunderfury Scimitar                            3.45
164      Exiled Doomblade                                1.63
165      Bone Crushing Silver Skewer                     4.86
166      Thirsty Iron Reaver                             3.07
167      Malice, Legacy of the Queen                     3.61
168      Sun Strike, Jaws of Twisted Visions             1.48
169      Interrogator, Blood Blade of the Queen          2.18
170      Shadowsteel                                     3.97
171      Scalpel                                         1.79
172      Blade of the Grave                              3.14
173      Stormfury Longsword                             4.93
174      Primitive Blade                                 3.47
175      Woeful Adamantite Claymore                      4.48
176      Relentless Iron Skewer                          2.84
177      Winterthorn, Defender of Shifting Worlds        2.08
178      Oathbreaker, Last Hope of the Breaking Storm    4.23
179      Wolf, Promise of the Moonwalker                 4.48
180      Stormcaller                                     3.36
181      Reaper's Toll                                   1.66
182      Toothpick                                       4.03
183      Dragon's Greatsword                             1.09
Name: Price, Length: 183, dtype: float64

In [188]:
total_purchase_value = pop_items["Price"].sum()
total_purchase_value

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                         9.78
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
5        Putrid Fan                                      16.32
6        Rusty Skull                                      7.40
7        Thorn, Satchel of Dark Souls                     9.31
8        Purgatory, Gem of Regret                        11.79
9        Thorn, Conqueror of the Corrupted               10.92
10       Sleepwalker                                      7.16
11       Brimstone                                       18.25
12       Dawne                                            6.12
13       Serenity                                         5.64
14       Possessed Core                                   5.22
15       Soul Infused Crystal                            14.80
16       Restored Bauble                                 14.20
17       Lazarus, Terror of the Earth                     6.80
18       Torchlight, Bond of Storms                       9.30
19       Pursuit, Cudgel of Necromancy                    8.16
20       Netherbane                                      16.35
21       Souleater                                        5.50
22       Amnesia                                         13.08
23       Crucifer                                         1.99
24       Warped Fetish                                   19.05
25       Hero Cane                                       26.10
26       Unholy Wand                                      2.24
27       Riddle, Tribute of Ended Dreams                  3.30
28       Flux, Destroyer of Due Diligence                 2.12
29       Chaos, Ender of the End                          9.90
                                                         ...
154      Feral Katana                                    17.60
155      War-Forged Gold Deflector                        5.05
156      Soul-Forged Steel Shortsword                     8.85
157      Spada, Etcher of Hatred                         19.20
158      Darkheart, Butcher of the Champion               4.90
159      Oathbreaker, Spellblade of Trials               21.56
160      Azurewrath                                      26.40
161      Devine                                           8.80
162      Abyssal Shard                                   13.35
163      Thunderfury Scimitar                            17.25
164      Exiled Doomblade                                11.41
165      Bone Crushing Silver Skewer                     19.44
166      Thirsty Iron Reaver                              9.21
167      Malice, Legacy of the Queen                     14.44
168      Sun Strike, Jaws of Twisted Visions              2.96
169      Interrogator, Blood Blade of the Queen           8.72
170      Shadowsteel                                     15.88
171      Scalpel                                          5.37
172      Blade of the Grave                              12.56
173      Stormfury Longsword                              9.86
174      Primitive Blade                                 13.88
175      Woeful Adamantite Claymore                      13.44
176      Relentless Iron Skewer                           5.68
177      Winterthorn, Defender of Shifting Worlds         4.16
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
180      Stormcaller                                      3.36
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 183, dtype: float64

In [189]:
pop_items = pd.DataFrame(OrderedDict({"Purchase Count":purch_count.astype(int),
                                        "Average Purchase Price":item_price.astype(float),
                                        "Total Purchase Value":total_purchase_value.astype(float)}))

pop_items

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
0,Splinter,4,1.28,5.12
1,Crucifer,3,3.26,9.78
2,Verdict,6,2.48,14.88
3,Phantomlight,6,2.49,14.94
4,Bloodlord's Fetish,5,1.70,8.50
5,Putrid Fan,4,4.08,16.32
6,Rusty Skull,2,3.70,7.40
7,"Thorn, Satchel of Dark Souls",7,1.33,9.31
8,"Purgatory, Gem of Regret",3,3.93,11.79
9,"Thorn, Conqueror of the Corrupted",4,2.73,10.92
10,Sleepwalker,4,1.79,7.16
11,Brimstone,5,3.65,18.25
12,Dawne,6,1.02,6.12
13,Serenity,4,1.41,5.64
14,Possessed Core,2,2.61,5.22
15,Soul Infused Crystal,5,2.96,14.80
16,Restored Bauble,4,3.55,14.20
17,"Lazarus, Terror of the Earth",4,1.70,6.80
18,"Torchlight, Bond of Storms",2,4.65,9.30
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16
20,Netherbane,5,3.27,16.35
21,Souleater,5,1.10,5.50
22,Amnesia,6,2.18,13.08
23,Crucifer,1,1.99,1.99
24,Warped Fetish,5,3.81,19.05
25,Hero Cane,6,4.35,26.10
26,Unholy Wand,2,1.12,2.24
27,"Riddle, Tribute of Ended Dreams",1,3.30,3.30
28,"Flux, Destroyer of Due Diligence",2,1.06,2.12
29,"Chaos, Ender of the End",5,1.98,9.90
...,...,...,...,...
154,Feral Katana,4,4.40,17.60
155,War-Forged Gold Deflector,5,1.01,5.05
156,Soul-Forged Steel Shortsword,5,1.77,8.85
157,"Spada, Etcher of Hatred",4,4.80,19.20
158,"Darkheart, Butcher of the Champion",2,2.45,4.90
159,"Oathbreaker, Spellblade of Trials",7,3.08,21.56
160,Azurewrath,6,4.40,26.40
161,Devine,5,1.76,8.80
162,Abyssal Shard,5,2.67,13.35
163,Thunderfury Scimitar,5,3.45,17.25
164,Exiled Doomblade,7,1.63,11.41
165,Bone Crushing Silver Skewer,4,4.86,19.44
166,Thirsty Iron Reaver,3,3.07,9.21
167,"Malice, Legacy of the Queen",4,3.61,14.44
168,"Sun Strike, Jaws of Twisted Visions",2,1.48,2.96
169,"Interrogator, Blood Blade of the Queen",4,2.18,8.72
170,Shadowsteel,4,3.97,15.88
171,Scalpel,3,1.79,5.37
172,Blade of the Grave,4,3.14,12.56
173,Stormfury Longsword,2,4.93,9.86
174,Primitive Blade,4,3.47,13.88
175,Woeful Adamantite Claymore,3,4.48,13.44
176,Relentless Iron Skewer,2,2.84,5.68
177,"Winterthorn, Defender of Shifting Worlds",2,2.08,4.16
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
179,"Wolf, Promise of the Moonwalker",6,4.48,26.88
180,Stormcaller,1,3.36,3.36
181,Reaper's Toll,5,1.66,8.30
182,Toothpick,3,4.03,12.09
183,Dragon's Greatsword,3,1.09,3.27

In [190]:
pop_items = pop_items.sort_values(["Purchase Count"], ascending=False)
pop_items.head(5)

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

In [197]:
top_item = pop_items.sort_values(["Total Purchase Value"], ascending=0)
top_item.head()

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80